.progress-bar {
  width: 97%;
  height: 25px;
  overflow: hidden;
  background-color: white;
  border-radius: 1.5em;
  color: white;
}

.progress-bar-fill {
  background-color: #25BC34;
  height: 100%;
  border-radius: 1.5em;
  transition: width 700ms ease;
}
