<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <a routerLink="/dilemma/Natuur" ><button style="margin-bottom: -40px"><img class="img-fluid" src="assets/png/islandBWClick.png" /></button></a>
      <a routerLink="/dilemma/Onderwijs" ><button style="margin-bottom: -42px"><img class="img-fluid" src="assets/png/islandCOClick.png" /></button></a>
      <a routerLink="/dilemma/Huisvesting" ><button><img class="img-fluid" src="assets/png/islandNKClick.png" /></button></a>
    </div>
  </div>
</div>
