<div class="">
  <h1>Debattle</h1>
  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()" *ngIf="isLoginForm">
    <h2>Registreren</h2>
    <label for="email-input">Vul je e-mailadres in</label>
    <input type="text" id="email-input" placeholder="Emailadres" formControlName="email">
    <div *ngIf="loginForm?.get('email')?.dirty && loginForm?.get('email')?.invalid">
      <p>Emailadres onjuist</p>
    </div>

    <label for="password-input">Wachtwoord</label>
    <input type="password" placeholder="Wachtwoord" id="password-input" formControlName="password">
    <div *ngIf="loginForm?.get('password')?.dirty && loginForm?.get('password')?.value.length < 7">
      <p>Wachtwoord moet minimaal 7 karakters bevatten</p>
    </div>

    <label for="password-input">Herhaal wachtwoord</label>
    <input type="password" placeholder="Herhaal wachtwoord" id="password-input-repeat" formControlName="passwordRepeat">
   <div *ngIf="unequalPasswordsValidator">
     <p>Wachtwoorden komen niet overeen</p>
   </div>

    <button type="submit" [disabled]="loginForm.invalid">Maak je partij!</button>
  </form>

</div>
