<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="text-end px-1 text-white text shadow"><b>Bouwen & Wonen</b></p>
    </div>
    <div class="col-12">
      <img alt="money" height="33" ngSrc="assets/svg/house.svg" width="32" style="position: absolute"/>
      <div class="progress-bar" style="margin-top: 10px;margin-left: 7%">
        <div class="progress-bar-fill" [style.width.%]="housingStatus"></div>
      </div>
    </div>

    <div class="col-12">
      <p class="text-end px-1 text-white text shadow"><b>Cultuur & Onderwijs</b></p>
    </div>
    <div class="col-12">
      <img alt="money" height="33" ngSrc="assets/svg/hat.svg" width="32" style="position: absolute"/>
      <div class="progress-bar" style="margin-top: 10px;margin-left: 7%">
        <div class="progress-bar-fill" [style.width.%]="educationStatus"></div>
      </div>
    </div>

    <div class="col-12">
      <p class="text-end px-1 text-white text shadow"><b>Natuur & Klimaat</b></p>
    </div>
    <div class="col-12">
      <img alt="money" height="33" ngSrc="assets/svg/tree.svg" width="32" style="position: absolute"/>
      <div class="progress-bar" style="margin-top: 10px;margin-left: 7%">
        <div class="progress-bar-fill" [style.width.%]="climateStatus"></div>
      </div>
    </div>
  </div>
</div>
