<button (click)="test(60)">test</button>
<button (click)="test(-60)">test2</button>
<div class="status-bar-card">
  <div class="progress-bar-container">
    <div class="progress-bar">
      <div class="progress-bar-fill" [style.width.%]="moneyProgressValue"></div>
    </div>
  </div>

  <div class="progress-bar-container">
    <div class="progress-bar">
      <div class="progress-bar-fill" [style.width.%]="happinessProgressValue"></div>
    </div>
  </div>

  <div class="progress-bar-container">
    <div class="progress-bar">
      <div class="progress-bar-fill" [style.width.%]="climateProgressValue"></div>
    </div>
  </div>

  <div class="progress-bar-container">
    <div class="progress-bar">
      <div class="progress-bar-fill" [style.width.%]="housingProgressValue"></div>
    </div>
  </div>

  <div class="progress-bar-container">
    <div class="progress-bar">
      <div class="progress-bar-fill" [style.width.%]="educationProgressValue"></div>
    </div>
  </div>
</div>
