<div class="background d-flex align-items-start flex-column">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center mt-2">
        <img alt="money" height="33" ngSrc="assets/svg/left.svg" width="32" style="position: absolute;margin-left: 3px"/>
        <a routerLink="/home">
        <button class="buttonstyle">Terug naar overzicht</button>
        </a>
      </div>
    </div>
  </div>

  <div class="container my-auto">
    <div class="row">
      <div class="col-6 my-auto">
        <img src="assets/png/{{displayedCategory}}.png" class="img-fluid" alt="partijland BW"/>
      </div>
      <div class="col-6">
        <app-status-bar-categories-four></app-status-bar-categories-four>
      </div>
    </div>
  </div>

  <div class="container my-auto">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1><b>{{displayedCategory}}</b></h1>
      </div>
      <div class="col-sm-12">
        <p class="text text-white">{{currentQuestion?.question}}</p>
      </div>
    </div>
  </div>

  <div class="container my-auto">
    <div class="row">
      <div class="col-sm-12 text-center">
        <button class="buttonstyle mb-3" [disabled]="firstButtonClicked" (click)="selectFirstOption()">{{buttonText[0]}}</button>
        <button class="buttonstyle" [disabled]="secondButtonClicked" (click)="selectSecondOption()">{{buttonText[1]}}</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center mb-3">
        <button class="buttonstyle" (click)="confirmChoice()">volgende vraag</button>
        <img alt="money" height="33" ngSrc="assets/svg/right.svg" width="32" style="position: absolute;margin-left: -40px"/>
      </div>
    </div>
  </div>
</div>
