<h1>{{category}}</h1>
<a routerLink="/home"><button>Back</button></a>
  <h2>Dilemma!</h2>
  <p>{{currentQuestion?.question}}</p>
  <button [style.background-color]="firstOptionClicked ? '#2DE87E' : 'white'" (click)="selectFirstOption()">{{buttonText[0]}}</button>

  <button [style.background-color]="secondOptionClicked ? '#2DE87E' : 'white'"  (click)="selectSecondOption()">{{buttonText[1]}}</button>
<hr>
<app-status-bar *ngFor="let status of statusBars" [category]="status"></app-status-bar>
<hr>
<button (click)="confirmChoice()">test</button>
