<div class="background d-flex align-items-start flex-column">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 text-center mt-2">
        <img class="text-center" src="assets/svg/tienskiplogo.svg" alt="logo tienskip" height="30" width="97"/>
      </div>
    </div>
  </div>

  <div class="container-fluid my-auto">
    <div class="row">
      <div class="col-sm-12 px-0">
        <img class="img-fluid" src="assets/svg/logo.svg" alt="island BW"/>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <img class="img-fluid" src="assets/svg/Partijland.svg" alt="Partijland"/>
      </div>

      <div class="col-sm-12 text-center mb-5 mt-3">
        <a class="shadow" routerLink="/login"><button class="buttonstyle ">Inloggen</button></a>
      </div>
    </div>
  </div>
</div>
