<div class="background d-flex align-items-start flex-column">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 text-center mt-2">
        <img class="text-center" src="assets/svg/tienskiplogo.svg" alt="logo tienskip" height="30" width="97"/>
      </div>

    </div>
  </div>

  <div class="container my-auto">
    <div class="row">
      <div class="col-sm-12 mt-3 text-center">
        <img class="img-fluid" src="assets/svg/Partijland.svg" alt="Partijland"/>
      </div>
      <div class="col-sm-12 text-center mb-1 mt-3">
        <button class="buttonstyle">Wat is je partij naam?</button>
      </div>

    </div>
  </div>

  <div class="container mb-auto">
    <div class="row">

      <div class="col-sm-12">
        <img class="img-fluid" src="assets/png/islandBW.png" alt="island BW"/>
      </div>
      <div class="col-sm-12 text-center mb-3 mt-3">
        <a class="shadow" routerLink="/starting-island"><button class="buttonstyle">Maak je eiland</button></a>

      </div>
    </div>
  </div>
</div>
