/* You can add global styles to this file, and also import other style files */
.color1 {
  background-color: #35ABE2;
}

.color2 {
  background-color: #3A48CB;
}

.color3 {
  background-color: #E37B31;
}

.color4 {
  background-color: #556ADA;
}
