p {
  font-family: Rockwell, sans-serif;
  font-size: 12px;
}

h1 {
  color: white;
  font-family: Rockwell, sans-serif;
  font-size: 12px;
}

.background {
  background-color: #4BC6FF;
  background-image: url('assets/png/Clouds.png');
  height: 100vh;
}

.shadow {
  text-shadow: 2px 2px 4px #006699;
}

.buttonstyle {
  box-shadow: 2px 2px 4px #006699;
  border: none;
  background: none;
  width: 80%;
  background-color: white;
  text-align: center;
  font-size: 12px;
  font-family: Rockwell, sans-serif;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 1.5em;
}
